// #header {
//   transition: all 0.5s;
//   z-index: 997;
//   padding: 20px 0;
// }

// #header.header-scrolled {
//   background: rgba(0, 0, 0, 0.9);
//   padding: 12px 0;
// }

#header .header-logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  letter-spacing: 1px;
}

.bg-navbar {
  background: rgba(0, 0, 0, 0.9);
  padding: 20px 0;
}
