<header id="header" class="fixed-top" appScroll>
  <nav class="navbar navbar-dark navbar-expand-lg bg-navbar">
    <div class="container">
      <h1 class="header-logo">
        <a class="navbar-brand" href="#"
          ><i class="bi bi-code-slash"></i> PascalApp</a
        >
      </h1>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              routerLinkActive="active"
              routerLink=""
              >Beranda</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="" [ngxScrollTo]="'#about'"
              >Tentang</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="" [ngxScrollTo]="'#service'"
              >Layanan</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="" [ngxScrollTo]="'#portofolio'"
              >Portofolio</a
            >
          </li>
          <ng-container *ngIf="!isLoggedIn(); else elseTemplate">
            <li class="nav-item">
              <a class="nav-link" routerLink="/auth/login">Login</a>
            </li>
          </ng-container>
          <ng-template #elseTemplate>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Demo
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" routerLink="/demo/resume">Resume</a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/demo/todos">Todo</a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/demo/anime">Anime</a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/demo/sample">Sample</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/auth/logout">Logout</a>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </nav>
</header>
