<nav class="navbar navbar-dark navbar-expand-lg bg-enigma fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#"
      ><i class="bi bi-code-slash"></i> PascalApp</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Beranda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">Tentang</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#service">Layanan</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Demo
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Portofolio</a></li>
            <li><a class="dropdown-item" href="#">Todo</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
