<section id="service" class="service">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Service</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        <div class="line"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card service-card">
          <div class="card-body">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle">
                  <i class="bi bi-server"></i>
                </span>
              </div>
              <div class="service-content">
                <h2>Backend Development</h2>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
                  adipisci eaque autem fugiat! Quia, provident vitae! Magni
                  tempora perferendis eum non provident.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card service-card">
          <div class="card-body">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle">
                  <i class="bi bi-browser-firefox"></i>
                </span>
              </div>
              <div class="service-content">
                <h2>Frontend Development</h2>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
                  adipisci eaque autem fugiat! Quia, provident vitae! Magni
                  tempora perferendis eum non provident.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card service-card">
          <div class="card-body">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle">
                  <i class="bi bi-android"></i>
                </span>
              </div>
              <div class="service-content">
                <h2>Android Development</h2>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
                  adipisci eaque autem fugiat! Quia, provident vitae! Magni
                  tempora perferendis eum non provident.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
