<!-- <app-header></app-header>
<router-outlet></router-outlet> -->

<div class="container mt-5">
  <!-- <h3>{{ message }}</h3>
  <h3>{{ getMessage() }}</h3>
  <h3>{{ 4 + 5 }}</h3>
  <h3>{{ people }}</h3>
  <h3>{{ getPeople() }}</h3>
  <h3>{{ employees }}</h3> -->

  <!-- <h3>{{ name = 'John' }}</h3> -->
  <!-- <h3>{{ new Date() }}</h3> -->
  <!-- <h3>{{ typeof }}</h3> -->
  <!-- <h3>{{ increment-- }}</h3> -->

  <!-- <ul>
    <li *ngFor="let person of people">{{ person }}</li>
  </ul>

  <ul>
    <li *ngFor="let employee of employees">{{ employee.name }}</li>
  </ul> -->

  <!-- Properti Binding -->
  <!-- <img [src]="image.src" [alt]="image.alt" /> -->

  <!-- <h4
    [innerHTML]="fullName"
    [style.color]="color"
    [style.font-size]="fontSize"
    [style.font-weight]="fontWeight"
  ></h4>

  <h4 [ngStyle]="styles">My Name is Fadli</h4>

  <button
    class="btn btn-primary mb-3"
    [disabled]="!isDisabled"
    (click)="onClickButton()"
  >
    Click Me
  </button>

  <input type="text" class="form-control" (input)="onKeyPress($event)" />

  <h5 class="mt-5">{{ message }}</h5> -->
</div>
