<!-- Toolbar -->
<app-header></app-header>

<div class="content" role="main">
  <!-- Highlight Card -->
  <app-highlight-card></app-highlight-card>
  <!-- Resources -->
  <app-resource></app-resource>

  <!-- Next Steps -->
  <app-next-step></app-next-step>

  <!-- Footer -->
  <app-footer></app-footer>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

