article {
  float: left;
  padding: 20px;
  width: 70%;
  background-image: linear-gradient(rgba(255,255,255,0.55),rgba(255,255,255,0.55)), url("https://img.freepik.com/free-photo/beautiful-wide-shot-ruth-glaciers-covered-snow-blue-sky-with-white-clouds_181624-3624.jpg");
  background-size: cover;
  background-position: center;
}

.center {
  text-align: center;
}

#profile {
  margin-left: 20%;
  margin-top: 5px;
  margin-bottom: 5px;
}
