<article>
  <h1 class="center" style="font-size: xxx-large">Rifqy Adwin Hafizsyah</h1>
  <h1 class="center">Work Experiences</h1>
  <h2 class="center">Junior Mine Plan Engineer</h2>
  <p class="center"><strong>PT. Trimegah Bangun Persada 2021-2022</strong></p>
  <ul id="profile">
    <li>Monthly production planning</li>
    <li>Weekly production planning</li>
    <li>Daily pit control</li>
    <li>Production analysis review</li>
    <li>Mine, road, drainage and stockpile design</li>
  </ul>
  <h2 class="center">Project Assistant</h2>
  <p class="center"><strong>PT. LAPI ITB 2019</strong></p>
  <ul id="profile">
    <li>conducting research analysis of abandoned mine</li>
    <li>Satellite images processing</li>
    <li>Soil sample preparation and testing</li>
  </ul>
  <h1 class="center">Education</h1>
  <h2 class="center">Mining Engineer</h2>
  <p class="center"><strong>Institut Teknologi Bandung 2014-2018</strong></p>
  <ul id="profile">
    <li>Earth resources exploration specialist</li>
    <li>Remote sensing final project</li>
  </ul>
  <h1 class="center">Training</h1>
  <h2 class="center">Internet of Things</h2>
  <p class="center">
    <strong>FGA Digital Talent Scholarship 2019 - Kominfo</strong>
  </p>
  <h1 class="center">Publications</h1>
  <h2 class="center">
    Exploring Abandoned Alluvial Tin Mines using Satellite Image and
    Mineralogical Data:<br />
    A Case Study of Belitung Island, Indonesia
  </h2>
  <p class="center">
    <strong
      >3rd Conference of the Arabian Journal of Geosciences (CAJG) - November
      2020</strong
    >
  </p>
</article>
