<h3>Form</h3>
<div class="card">
  <div class="card-body">
    <form [formGroup]="todoForm" (ngSubmit)="onSubmitTodo()">
      <div class="input-group mb-3">
        <div class="input-group-text">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="isDone"
          />
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="Todo"
          aria-label="Todo"
          formControlName="name"
          required
        />
        <button
          appBsButton
          color="success"
          size="md"
          [disabled]="!todoForm.valid"
        >
          ADD
        </button>
      </div>
      <app-validation-message
        [control]="todoForm.get(field.NAME)"
        [field]="field.NAME"
      ></app-validation-message>
    </form>
  </div>
</div>
