<div class="profiler">
  <div class="profile_part">
    <img
      src="https://media.discordapp.net/attachments/1011936480911962135/1012038051255554118/me.jpg"
      alt="My Photo"
    />
  </div>
  <div class="profile_part">
    <h3>Contacts</h3>
    <div id="profile">
      <p>
        <i class="fa-solid fa-phone"></i>
        <a href="tel:+62811XXXXXX" target="_self">+62811XXXXXX</a>
      </p>
      <p>
        <i class="fa-regular fa-envelope"></i>
        <a href="mailto:rifqyadwin@gmail.com" target="_self"
          >rifqyadwin@gmail.com</a
        >
      </p>
      <p><i class="fa-solid fa-house"></i> Malang Regency</p>
    </div>
  </div>
  <div class="profile_part">
    <h3>Skills</h3>
    <ul id="profile">
      <li>Javascript</li>
      <li>Python</li>
      <li>C</li>
      <li>SQL Database</li>
      <li>GIS</li>
      <li>IoT</li>
      <li>Engineering</li>
      <li>Geology</li>
    </ul>
  </div>
  <div class="profile_part">
    <h3>Languages</h3>
    <ul id="profile">
      <li>Indonesian</li>
      <li>English</li>
      <li>Javanese</li>
    </ul>
  </div>
  <div class="profile_part">
    <h3>Specialization</h3>
    <ul id="profile">
      <li>Backend Developer</li>
      <li>Front End Developer <i>(Soon)</i></li>
    </ul>
  </div>
</div>
