.profiler {
  float: left;
  width: 30%;
  background: #fff;
  padding: 20px;
}

.profile_part {
  float: top;
  height: 20%;
  padding: 20%;
}

.profile_part img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#profile {
  margin-left: 20%;
  margin-top: 5px;
  margin-bottom: 5px;
}
