<h3>{{ title }}</h3>
<div class="card">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let todo of todos">
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="{{ todo.id }}_checkbox"
          [value]="todo.id"
          [checked]="todo.isDone"
        />
        &nbsp;
        <label for="{{ todo.id }}_checkbox" class="form-check-label">
          {{ todo.name }}
        </label>
      </div>
    </li>
  </ul>
</div>
