@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

#heading2 {
  color: #42a5f5; }

.center {
  text-align: center; }

.large {
  font-size: 3rem; }

.text-primary {
  color: #42a5f5; }

h2.large {
  font-size: 2rem; }

.img-border img {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; }

h1 > span {
  color: #ab47bc; }

.wrapper {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(https://www.arenalaptop.com/wp-content/uploads/2018/12/Laptop-Untuk-Programmer.jpg);
  background-size: cover;
  background-position: center; }

header {
  color: #fff;
  padding: 20px 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #233d90;
  z-index: 1; }

#sticky {
  position: fixed;
  top: 0;
  width: 100%; }

.sticky + .content {
  padding-top: 30px; }

.navbar-logo {
  font-size: 2rem;
  margin-left: 20px;
  font-weight: 600;
  cursor: pointer; }

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative; }

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase; }

.navbar ul li::after {
  content: '';
  height: 2px;
  width: 0;
  background: #18a1fc;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s; }

.navbar ul li:hover::after {
  width: 100%; }

section {
  margin-top: 5%; }

.content {
  width: 100%;
  position: absolute;
  top: 50%; }

.content h1 {
  font-family: 'Satisfy', serif;
  font-size: 4rem;
  color: #fff; }

.content p {
  text-align: center;
  margin: 20px auto;
  line-height: 25px;
  font-weight: 100;
  font-size: 1.5rem;
  color: #fff; }

.col-6 {
  width: 50%;
  height: 50vh; }

.bg-primary {
  background-color: #42a5f5; }

.bg-secondary {
  background-color: #ab47bc; }

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }

.row {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px; }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: auto; }

.card img {
  width: 500px; }

.card-body {
  padding: 2px 16px; }

.card-body h4 {
  font-size: 1.5rem;
  text-align: center; }

.card-body p {
  font-size: 1rem;
  text-align: center;
  line-height: 30px; }
